__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
.env.local
venv/
ENV/
build/
dist/
.eggs/
*.egg-info/
.pytest_cache/
.DS_Store
.mypy_cache/
.idea/
.vscode/

# Frigate config backups
infra/frigate/config/*.bak*
infra/frigate/config/backup_config.yaml

