[Unit]
Description=Scrapyard Command Center
After=network.target

[Service]
Type=simple
EnvironmentFile=%h/.config/scc/.env
WorkingDirectory=__REPO_DIR__
ExecStart=/usr/bin/env python -m scc_core.run_scc
Restart=on-failure

[Install]
WantedBy=default.target
